/node_modules
/public/hot
/public/storage
/public/js
/public/css
/storage/*.key
/vendor
/.idea
/.vscode
*.swp
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.env.testing
public/images/productos
public/error_log
tempfiles/
public/mix-manifest.json
*.swo
